body {
  margin:30px;
}

nav{
  float: right;
}
nav ul {
  margin: 0;
}

nav ul li {
  display: inline;
  margin-left: 25px;
  padding-top: 25px;

}

nav ul li a {
  color: #595959;
  padding: 5px;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover{
  color:white;
  text-shadow: 1px 3px #000000;
}

/*För hela griden, bakgrundsfärg, font-färg osv. */
.sida{
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #eff5f5;
  color: #609f9f;

}

/*grid within grid*/

.nested {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: 10px;
}
.nested > article {
  padding: .20em;
}
/*Själva boxarna, d runda kanterna, bakgrundsfärg och fontfärg*/
.box{
  background-color: #609f9f;
    color: #d0e2e2;
  border-radius: 5px;
  padding:10px;
}
.header{
  grid-column: 1/8;
    grid-row:1;
  background-color: #304f4f;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;

}

.sidebar{
  grid-column: 5/8;
  grid-row: 2/3;
  text-align:center;
}

.main-area{
  grid-column: 1/4;
  grid-row: 2;
  text-align: center;

}

.fot{
  grid-column: 1/span5;
    grid-row:3;
  text-decoration: none;
  }

.veckan{
 grid-column: 4/4;
 grid-row: 2;
 text-align: center;

}

img
{
    max-height:500px;
    max-width:500px;
    height:auto;
    width:auto;
}
